h2 {
  text-align: center;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  align-content: center;
  justify-items: center;
  overflow: hidden;
}

.curtain__panel {
  width: 50%;
  height: 100vh;
  background: orange;
  float: left;
  position: relative;
  z-index: 2;
}

.prize {
  background: 333;
  position: absolute;
  z-index: 1;
  /* width: 100%;
  height: 100%; */
}

input[type="checkbox"] {
  position: absolute; /* Force the checkbox at the start of the container */
  cursor: pointer; /* Indicate the curtain is clickable */
  width: 100%; /* The checkbox is as wide as the component */
  height: 100%; /* The checkbox is as tall as the component */
  z-index: 100; /* Make sure the checkbox is on top of everything else */
  opacity: 0; /* Hide the checkbox */
}

/* When the checkbox is checked... */

/* Slide the first panel in */
input[type="checkbox"]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}

/* Slide the second panel in */
input[type="checkbox"]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}

.button {
  width: 7rem;
  height: 3rem;
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  margin: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
}

/* div:hover {
  cursor: pointer;
  background-color: blue;
  transition: all 1s ease; */
  /* transform: translateX(100%); */
}
/* https: ; //css-tricks.com/creating-css-sliding-door-effect/ */

.button__wrapper {
  overflow: hidden;
}
